:root {
  --crop-offset: 10px;
}

.container {
    position: relative;
}

.container .scannedImage {
    width: 100%;
}

.container .imgCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
}

.container .cropArea {
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: var(--crop-offset);
    left: var(--crop-offset);
    bottom: var(--crop-offset);
    right: var(--crop-offset);
}